/* Estilos para el carrito */
.carrito-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .carrito-container h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  
  input[type="number"] {
    width: 40px;
    text-align: center;
  }
  
  p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    color: #333;
  }

button, input[type="number"] {
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
  }
  
  input[type="number"] {
    transform: scale(0.95);
  }
  
  input[type="number"]:hover {
    transform: scale(1);
  }
  
.carrito-animado {
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  
  .carrito-visible {
    transform: translateX(0);
  }
  