.registro-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  .campo {
    margin-bottom: 10px;
    margin-right: 20px;
    align-items: center;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .boton2 {
    width: 10%;
    padding: 10px;
    background-color:  #4F4557;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    top: 500px;
    left: 590px;
  }
  
  .boton2:hover {
    background-color: #4F4557;
  }
  
  button:active{
    transform: scale(0.96);
   }

   
  